/*!********************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./skewer/build/Page/Calendar/web/scss/calendar.scss ***!
  \********************************************************************************************************************************************/
.fc .fc-toolbar-title {
  text-transform: capitalize;
}
.fc .fc-bg-event {
  opacity: 1 !important;
}

/*----------------------------------*/
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s linear;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

/*----------------------------------*/
.b-event .event__title {
  color: #000000;
  cursor: pointer;
  font-size: 20px;
  padding: 10px;
}
.b-event .event__modal {
  background-color: #fff;
  width: 250px;
  padding: 20px;
  font-size: 20px;
  box-shadow: 0 0 10px 10px #00000030;
}
