<template>
  <FullCalendar :options="calendarOptions">
    <template v-slot:eventContent="arg">
      <EventItem :event="arg.event" />
    </template>
  </FullCalendar>
</template>

<script>
import '@fullcalendar/core/vdom';
import FullCalendar from '@fullcalendar/vue3';
import interactionPlugin from '@fullcalendar/interaction';
import dayGridPlugin from '@fullcalendar/daygrid';
import { ref } from 'vue';
import axios from 'axios';
import _ from 'lodash';

import EventItem from './EventItem.vue';

export default {
  components: {
    FullCalendar,
    EventItem,
  },
  setup() {
    const calendarOptions = ref({
      events: [],
      eventTextColor: 'black',
      plugins: [dayGridPlugin, interactionPlugin],
      firstDay: 1,
      initialView: 'dayGridMonth',
      locale: 'ru',
      dayHeaderFormat: {
        weekday: 'long',
      },
      titleFormat: {
        month: 'long',
      },
      buttonText: {
        today: 'Сегодня',
      },
    });
    axios
      .post('/ajax/ajax.php', {
        moduleName: 'Dict',
        cmd: 'Index',
        name: 'calendar',
      })
      .then((res) => {
        calendarOptions.value.events = _.map(res.data, (event) =>
          _.mapKeys(event, (value, key) => {
            return _.camelCase(key);
          })
        );
      });
    return { calendarOptions };
  },
};
</script>
