<template>
  <div class="b-event">
    <div @click="showEventInfo" class="event__title">
      {{ event.title }}
    </div>
    <transition name="fade">
      <div v-if="moreInfo" class="event__modal">
        <div class="event__name">{{ event.title }}</div>
        <div class="event__descr">{{ event.extendedProps.description }}</div>
      </div>
    </transition>
  </div>
</template>

<script>
import { ref } from 'vue';

export default {
  name: 'EventItem',
  props: {
    event: Object,
  },
  setup() {
    const moreInfo = ref(false);
    const showEventInfo = () => (moreInfo.value = !moreInfo.value);
    return { showEventInfo, moreInfo };
  },
};
</script>
