.fc {
  .fc {
    &-toolbar-title {
      text-transform: capitalize;
    }
    &-bg-event {
      opacity: 1 !important;
    }
  }
}
/*----------------------------------*/
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s linear;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
/*----------------------------------*/
.b-event {
  .event {
    &__title {
      color: #000000;
      cursor: pointer;
      font-size: 20px;
      padding: 10px;
    }
    &__modal {
      background-color: #fff;
      width: 250px;
      padding: 20px;
      font-size: 20px;
      box-shadow: 0 0 10px 10px #00000030;
    }
  }
}
